In [2]:
import requests
import csv
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

In [3]:


# URL của trang web chứa dữ liệu COVID-19
URL = "https://www.worldometers.info/coronavirus/#countries"

# Gửi yêu cầu HTTP để lấy nội dung trang web
response = requests.get(URL)
soup = BeautifulSoup(response.text, "html.parser")

# Tìm bảng chứa dữ liệu
table = soup.find("table", id="main_table_countries_today")
headers = []
for th in table.find_all("th")[1:]:
    aria_label = th.get("aria-label")
    if aria_label != "#":
         headers.append(th.text.strip())
    else:
        print(f"Bỏ qua cột với aria-label: {aria_label}")

print(headers)

['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop', 'Active Cases/1M pop']

In [4]:



# Lấy dữ liệu từ các hàng trong bảng
data = []
for row in table.find("tbody").find_all("tr")[1:]:
    cells = row.find_all("td")
    # Kiểm tra nếu hàng có chứa liên kết (tức là hàng của quốc gia)
    if cells[1].find("a"):
        row_data = [cell.text.strip().replace(',', '') for cell in cells]
        if row_data:
            data.append(row_data)
#Lưu dữ liệu vào file CSV
filename = "covid_data.csv"
with open(filename, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(headers)  # Ghi tiêu đề
    writer.writerows(data)    # Ghi dữ liệu

print(f"Dữ liệu đã được lưu vào {filename}")

Dữ liệu đã được lưu vào covid_data.csv

In [5]:
df= pd.read_csv('covid_data.csv')
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
1,USA,111820082,NaN,1219487.0,NaN,109814428.0,NaN,786167.0,940.0,333985,...,1.186852e+09,3544901.0,334805269,North America,3,275.0,0.0,NaN,NaN,2348.0
2,India,45035393,NaN,533570.0,NaN,NaN,NaN,NaN,NaN,32016,...,9.358795e+08,665334.0,1406631776,Asia,31,2636.0,2.0,NaN,NaN,0.4
3,France,40138560,NaN,167642.0,NaN,39970918.0,NaN,0.0,NaN,612013,...,2.714902e+08,4139547.0,65584518,Europe,2,391.0,0.0,NaN,NaN,NaN
4,Germany,38828995,NaN,183027.0,NaN,38240600.0,NaN,405368.0,NaN,462891,...,1.223324e+08,1458359.0,83883596,Europe,2,458.0,1.0,NaN,NaN,4833.0
5,Brazil,38743918,NaN,711380.0,NaN,36249161.0,NaN,1783377.0,NaN,179908,...,6.377617e+07,296146.0,215353593,South America,6,303.0,3.0,NaN,NaN,8281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Niue,1059,NaN,NaN,NaN,1056.0,NaN,3.0,NaN,652898,...,NaN,NaN,1622,Australia/Oceania,2,NaN,NaN,NaN,NaN,1850.0
227,Tokelau,80,NaN,NaN,NaN,NaN,NaN,80.0,NaN,58055,...,NaN,NaN,1378,Australia/Oceania,17,NaN,NaN,NaN,NaN,58055.0
228,Vatican City,29,NaN,NaN,NaN,29.0,NaN,0.0,NaN,36295,...,NaN,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN
229,Western Sahara,10,NaN,1.0,NaN,9.0,NaN,0.0,NaN,16,...,NaN,NaN,626161,Africa,62616,626161.0,NaN,NaN,NaN,NaN
231,China,503302,NaN,5272.0,NaN,379053.0,NaN,118977.0,NaN,347,...,1.600000e+08,110461.0,1448471400,Asia,2878,274748.0,9.0,NaN,NaN,82.0

lấy dữ liệu 5 nước có số ca nhiễm cao nhất (total case)

In [6]:
# lấy ra 5 quốc gia có số ca nhiễm nhiều nhất
top_5_countries = df.nlargest(5, 'TotalCases')
top_5_countries

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
1,USA,111820082,NaN,1219487.0,NaN,109814428.0,NaN,786167.0,940.0,333985,...,1.186852e+09,3544901.0,334805269,North America,3,275.0,0.0,NaN,NaN,2348.0
2,India,45035393,NaN,533570.0,NaN,NaN,NaN,NaN,NaN,32016,...,9.358795e+08,665334.0,1406631776,Asia,31,2636.0,2.0,NaN,NaN,0.4
3,France,40138560,NaN,167642.0,NaN,39970918.0,NaN,0.0,NaN,612013,...,2.714902e+08,4139547.0,65584518,Europe,2,391.0,0.0,NaN,NaN,NaN
4,Germany,38828995,NaN,183027.0,NaN,38240600.0,NaN,405368.0,NaN,462891,...,1.223324e+08,1458359.0,83883596,Europe,2,458.0,1.0,NaN,NaN,4833.0
5,Brazil,38743918,NaN,711380.0,NaN,36249161.0,NaN,1783377.0,NaN,179908,...,6.377617e+07,296146.0,215353593,South America,6,303.0,3.0,NaN,NaN,8281.0

Quốc gia có số ca nhiễm mới cao nhất

In [7]:
# Quốc gia có số ca nhiễm mới cao nhất
country_highest_new_cases = df.nlargest(1, 'NewCases')
# print(f"Quốc gia có số ca nhiễm mới cao nhất: {country_highest_new_cases['Country,Other'].values[0]}")
# print(f"Số ca nhiễm mới: {country_highest_new_cases['NewCases'].values[0]}")
country_highest_new_cases

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
1,USA,111820082,NaN,1219487.0,NaN,109814428.0,NaN,786167.0,940.0,333985,...,1.186852e+09,3544901.0,334805269,North America,3,275.0,0.0,NaN,NaN,2348.0

Tính tỉ lệ tổng số ca bình phục trên tổng số ca nhiễm. Xác định 3 quốc gia có tỉ lệ bình phục cao nhất

In [8]:
df.isnull().sum()

Country,Other            0
TotalCases               0
NewCases               229
TotalDeaths              5
NewDeaths              229
TotalRecovered          48
NewRecovered           224
ActiveCases             47
Serious,Critical       177
Tot Cases/1M pop         0
Deaths/1M pop            5
TotalTests              16
Tests/\n1M pop          16
Population               0
Continent                0
1 Caseevery X ppl        0
1 Deathevery X ppl       5
1 Testevery X ppl       16
New Cases/1M pop       229
New Deaths/1M pop      229
Active Cases/1M pop     26
dtype: int64

Ta nhận thấy có 48 quốc gia không có dữ liệu về số ca hồi phục điều này cho thấy dữ liệu đang bị khuyết( có thể là do trang web không thể thống kê hoặc không có dữ liệu của các quốc gia này.) -> ta sẽ thay thế các giá trị null = 0 và bỏ qua khi tính toán

In [9]:
# Replace NaN values with 0 and convert columns to integers
df['TotalRecovered'] = df['TotalRecovered'].fillna(0).astype(int)
df['TotalCases'] = df['TotalCases'].fillna(0).astype(int)

# Calculate the recovery rate
df['RecoveryRate'] = (df['TotalRecovered'] / df['TotalCases'] * 100)

df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,RecoveryRate
1,USA,111820082,NaN,1219487.0,NaN,109814428,NaN,786167.0,940.0,333985,...,3544901.0,334805269,North America,3,275.0,0.0,NaN,NaN,2348.0,98.206356
2,India,45035393,NaN,533570.0,NaN,0,NaN,NaN,NaN,32016,...,665334.0,1406631776,Asia,31,2636.0,2.0,NaN,NaN,0.4,0.000000
3,France,40138560,NaN,167642.0,NaN,39970918,NaN,0.0,NaN,612013,...,4139547.0,65584518,Europe,2,391.0,0.0,NaN,NaN,NaN,99.582342
4,Germany,38828995,NaN,183027.0,NaN,38240600,NaN,405368.0,NaN,462891,...,1458359.0,83883596,Europe,2,458.0,1.0,NaN,NaN,4833.0,98.484650
5,Brazil,38743918,NaN,711380.0,NaN,36249161,NaN,1783377.0,NaN,179908,...,296146.0,215353593,South America,6,303.0,3.0,NaN,NaN,8281.0,93.560907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Niue,1059,NaN,NaN,NaN,1056,NaN,3.0,NaN,652898,...,NaN,1622,Australia/Oceania,2,NaN,NaN,NaN,NaN,1850.0,99.716714
227,Tokelau,80,NaN,NaN,NaN,0,NaN,80.0,NaN,58055,...,NaN,1378,Australia/Oceania,17,NaN,NaN,NaN,NaN,58055.0,0.000000
228,Vatican City,29,NaN,NaN,NaN,29,NaN,0.0,NaN,36295,...,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN,100.000000
229,Western Sahara,10,NaN,1.0,NaN,9,NaN,0.0,NaN,16,...,NaN,626161,Africa,62616,626161.0,NaN,NaN,NaN,NaN,90.000000
231,China,503302,NaN,5272.0,NaN,379053,NaN,118977.0,NaN,347,...,110461.0,1448471400,Asia,2878,274748.0,9.0,NaN,NaN,82.0,75.313231

In [10]:
#xác định 3 quốc gia có tỷ lệ hồi phục cao nhất
top_3_recovery_rate = df.nlargest(3, 'RecoveryRate')
top_3_recovery_rate

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,RecoveryRate
223,Falkland Islands,1930,NaN,NaN,NaN,1930,NaN,0.0,NaN,545352,...,2439107.0,3539,South America,2,NaN,0.0,NaN,NaN,NaN,100.00000
228,Vatican City,29,NaN,NaN,NaN,29,NaN,0.0,NaN,36295,...,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN,100.00000
32,DPRK,4772813,NaN,74.0,NaN,4772739,NaN,0.0,NaN,183636,...,NaN,25990679,Asia,5,351225.0,NaN,NaN,NaN,NaN,99.99845

In [32]:
import requests
from bs4 import BeautifulSoup
import re

url = 'https://web.archive.org/web/20220324004745/https://www.worldometers.info/coronavirus/#countries'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Tìm bảng với id 'main_table_countries_today'
table = soup.find('table', id='main_table_countries_today')

# Lấy hàng tiêu đề để xác định cột
header_row = table.find('thead').find_all('tr')[0]  # Lấy từ <thead> để chắc chắn đúng
columns = [cell.text.strip() for cell in header_row.find_all('th')]

# Kiểm tra vị trí của cột "New Cases"
index = 3  # Cột "New Cases" (có thể thay đổi theo trang web thực tế)

# Danh sách các hàng tổng cần loại bỏ
EXCLUDE_WORDS = {"World", "Total:", "All Countries", ""}

# Trích xuất dữ liệu cho từng quốc gia
data = []
for row in table.find_all('tr')[9:]:  # Bỏ qua các dòng không cần thiết
    cells = row.find_all('td')
    
    if len(cells) > index:
        country = cells[1].text.strip()  # Lấy tên quốc gia

        # Nếu quốc gia thuộc danh sách loại bỏ, thì bỏ qua
        if country in EXCLUDE_WORDS:
            continue

        new_cases_text = cells[index].text.strip()

        # Xóa dấu "+" và dấu phẩy để chuyển đổi thành số
        new_cases_text = re.sub(r'[\+,]', '', new_cases_text)
        try:
            new_cases = int(new_cases_text) if new_cases_text else 0
        except ValueError:
            new_cases = 0  # Nếu vẫn lỗi, đặt về 0

        data.append((country, new_cases))

data

[('USA', 29615),
 ('India', 1714),
 ('Brazil', 46305),
 ('France', 145560),
 ('UK', 51557),
 ('Germany', 301544),
 ('Russia', 26826),
 ('Turkey', 17161),
 ('Italy', 76260),
 ('Spain', 0),
 ('S. Korea', 490707),
 ('Argentina', 3603),
 ('Vietnam', 0),
 ('Netherlands', 42788),
 ('Iran', 1123),
 ('Japan', 21420),
 ('Colombia', 293),
 ('Indonesia', 6376),
 ('Poland', 10437),
 ('Mexico', 554),
 ('Ukraine', 4221),
 ('Australia', 61975),
 ('Malaysia', 0),
 ('Israel', 13001),
 ('Czechia', 10498),
 ('Belgium', 12669),
 ('South Africa', 1393),
 ('Philippines', 407),
 ('Austria', 53071),
 ('Peru', 0),
 ('Portugal', 0),
 ('Thailand', 25164),
 ('Canada', 5690),
 ('Chile', 8025),
 ('Switzerland', 15075),
 ('Denmark', 5954),
 ('Greece', 23102),
 ('Romania', 4521),
 ('Sweden', 0),
 ('Iraq', 265),
 ('Serbia', 2314),
 ('Bangladesh', 134),
 ('Hungary', 2845),
 ('Jordan', 0),
 ('Slovakia', 10387),
 ('Georgia', 817),
 ('Pakistan', 443),
 ('Ireland', 7044),
 ('Norway', 3001),
 ('Kazakhstan', 18),
 ('Morocco', 60),
 ('Bulgaria', 1552),
 ('Lebanon', 414),
 ('Hong Kong', 12240),
 ('Croatia', 2077),
 ('Cuba', 811),
 ('Singapore', 8940),
 ('Tunisia', 0),
 ('Lithuania', 4465),
 ('Nepal', 34),
 ('Belarus', 1647),
 ('Slovenia', 3320),
 ('Bolivia', 261),
 ('UAE', 332),
 ('Uruguay', 1855),
 ('Ecuador', 0),
 ('Costa Rica', 912),
 ('Finland', 9312),
 ('Guatemala', 2023),
 ('Azerbaijan', 38),
 ('Latvia', 3630),
 ('Panama', 386),
 ('Saudi Arabia', 110),
 ('Sri Lanka', 292),
 ('Paraguay', 110),
 ('Kuwait', 0),
 ('Myanmar', 267),
 ('Palestine', 334),
 ('Dominican Republic', 0),
 ('Bahrain', 1055),
 ('Estonia', 1830),
 ('New Zealand', 20154),
 ('Venezuela', 0),
 ('Moldova', 258),
 ('Libya', 85),
 ('Egypt', 0),
 ('Ethiopia', 29),
 ('Mongolia', 85),
 ('Armenia', 28),
 ('Honduras', 32),
 ('Cyprus', 4704),
 ('Oman', 99),
 ('Bosnia and Herzegovina', 147),
 ('Qatar', 131),
 ('Réunion', 0),
 ('Kenya', 13),
 ('Zambia', 102),
 ('North Macedonia', 319),
 ('Albania', 18),
 ('Algeria', 12),
 ('Botswana', 0),
 ('Nigeria', 54),
 ('Zimbabwe', 0),
 ('Uzbekistan', 7),
 ('Montenegro', 86),
 ('Mozambique', 5),
 ('Luxembourg', 1284),
 ('Kyrgyzstan', 10),
 ('Afghanistan', 55),
 ('Iceland', 850),
 ('Maldives', 0),
 ('Uganda', 7),
 ('El Salvador', 0),
 ('Ghana', 0),
 ('Laos', 2625),
 ('Namibia', 7),
 ('Martinique', 0),
 ('Trinidad and Tobago', 275),
 ('Cambodia', 64),
 ('Guadeloupe', 0),
 ('Rwanda', 19),
 ('Jamaica', 29),
 ('Brunei', 1006),
 ('Cameroon', 0),
 ('Angola', 0),
 ('DRC', 76),
 ('Senegal', 6),
 ('Malawi', 8),
 ('Ivory Coast', 4),
 ('Suriname', 30),
 ('French Guiana', 0),
 ('Malta', 375),
 ('French Polynesia', 0),
 ('Eswatini', 13),
 ('Channel Islands', 293),
 ('Fiji', 8),
 ('Madagascar', 0),
 ('Guyana', 6),
 ('Sudan', 9),
 ('New Caledonia', 49),
 ('Mauritania', 0),
 ('Barbados', 115),
 ('Belize', 12),
 ('Cabo Verde', 3),
 ('Syria', 0),
 ('Gabon', 0),
 ('Papua New Guinea', 0),
 ('Seychelles', 0),
 ('Curaçao', 0),
 ('Andorra', 479),
 ('Burundi', 0),
 ('Togo', 6),
 ('Mayotte', 0),
 ('Guinea', 0),
 ('Mauritius', 79),
 ('Faeroe Islands', 0),
 ('Aruba', 0),
 ('Tanzania', 0),
 ('Bahamas', 3),
 ('Lesotho', 0),
 ('Haiti', 0),
 ('Mali', 5),
 ('Isle of Man', 288),
 ('Benin', 0),
 ('Somalia', 0),
 ('Congo', 0),
 ('Bhutan', 530),
 ('Saint Lucia', 13),
 ('Timor-Leste', 3),
 ('Taiwan', 97),
 ('Burkina Faso', 0),
 ('Cayman Islands', 0),
 ('Nicaragua', 0),
 ('Tajikistan', 0),
 ('South Sudan', 9),
 ('Gibraltar', 57),
 ('Equatorial Guinea', 0),
 ('Liechtenstein', 152),
 ('Djibouti', 4),
 ('San Marino', 0),
 ('CAR', 0),
 ('Grenada', 0),
 ('Bermuda', 0),
 ('Gambia', 0),
 ('Greenland', 1),
 ('Yemen', 0),
 ('Dominica', 0),
 ('Monaco', 97),
 ('Solomon Islands', 0),
 ('Saint Martin', 0),
 ('Eritrea', 0),
 ('Sint Maarten', 0),
 ('Niger', 2),
 ('Guinea-Bissau', 0),
 ('Comoros', 0),
 ('Caribbean Netherlands', 0),
 ('Sierra Leone', 0),
 ('Antigua and Barbuda', 9),
 ('Liberia', 0),
 ('Chad', 0),
 ('St. Vincent Grenadines', 0),
 ('British Virgin Islands', 0),
 ('Sao Tome and Principe', 0),
 ('Turks and Caicos', 14),
 ('Saint Kitts and Nevis', 0),
 ('Palau', 6),
 ('Tonga', 0),
 ('St. Barth', 0),
 ('Kiribati', 3),
 ('Anguilla', 0),
 ('Saint Pierre Miquelon', 0),
 ('Vanuatu', 279),
 ('Cook Islands', 112),
 ('Diamond Princess', 0),
 ('Samoa', 375),
 ('Wallis and Futuna', 0),
 ('Montserrat', 0),
 ('Falkland Islands', 0),
 ('Macao', 0),
 ('Vatican City', 0),
 ('Western Sahara', 0),
 ('MS Zaandam', 0),
 ('Marshall Islands', 0),
 ('Niue', 4),
 ('Saint Helena', 0),
 ('Micronesia', 0),
 ('China', 2667)]

In [35]:
# top 5 quốc gia có số ca nhiễm mới cao nhất
top_5_new_cases = sorted(data, key=lambda x: x[1], reverse=True)[:5]
top_5_new_cases

[('S. Korea', 490707),
 ('Germany', 301544),
 ('France', 145560),
 ('Italy', 76260),
 ('Australia', 61975)]